[diff "sopsdiffer"]
	textconv = sops -d
# Moved to ~/.config/git/config
# [user]
#   name =
#   email =
#   signingkey =
[mergetool]
	keepBackup = true
[push]
	default = simple
[core]
	editor = vim
[diff]
	tool = vimdiff
[diff "ansible-vault"]
  textconv = "ansible-vault view"
[color]
	ui = true
  interactive = true
  diff = true
[merge]
	tool = vimdiff
[pull]
	ff = only
	rebase = true
[commit]
	gpgsign = true
[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
	please = push --force-with-lease
[status]
	relativePaths = true
[init]
	defaultBranch = master
