[diff "sopsdiffer"]
	textconv = sops -d
# Moved to ~/.config/git/config
# [user]
#   name =
#   email =
#   signingkey =
[merge]
  tool = nvimdiff
[mergetool]
	keepBackup = true
[push]
	default = simple
[core]
	editor = nvim
[diff "ansible-vault"]
  textconv = "ansible-vault view"
[color]
	ui = true
  interactive = true
  diff = true
[pull]
	ff = only
	rebase = true
[commit]
	gpgsign = true
[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
	please = push --force-with-lease
[status]
	relativePaths = true
[init]
	defaultBranch = master


[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true

[merge]
    conflictstyle = zdiff3
